@import '../../../styles/_vars.scss';

.display-block{
  display: block;
}

.display-none{
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-color;
  .modal-main{
    padding: $spacing;
    padding-left: 10%;
    position: fixed;
    background: $modal-color;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// oooo look we making a class in a class, this is thanks to sass
// translate is releative to the modal's own size-- half its space up and half its space down