// --------------------------------------------------------------------------------------
// COLORS
// --------------------------------------------------------------------------------------

$background-color: #EDEDED;
$font-color: rgba(0,0,0,0.8);

$modal-color: rgba(0,0,0,0.4);
$modal-background: #FFF;
$error: red;
$spacing: 5%;
$loud: #00ffff;
$quiet: #ff0fff;
$medium: #ffff00;

// --------------------------------------------------------------------------------------
// SIZE
// --------------------------------------------------------------------------------------


